{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Prata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'story1.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://beyondwithyona.herokuapp.com/">Story 2 Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://beyondwithyona.herokuapp.com/aboutme">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://beyondwithyona.herokuapp.com/experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://beyondwithyona.herokuapp.com/works">Works</a>
            </li>
          </ul>
        </div>
        </nav>
  </header>
  </body>
  {% block content %}
  {% endblock content %}
</html>
